<div class="container" *ngIf="question != null">
    <div class="row">
        <h3>{{question.title}}</h3>
    </div>
    <div class="row">
        <div class="col-3">
            <div>{{question.answers.length}} Answers</div>
            <div>{{question.comments.length}} Comments</div>
            <div>
                <button type="button" class="btn btn-link" (click)="onFinished()">
                    Go Back
                </button>
            </div>
        </div>
        <div class="col-9">
            {{question.body}}
            <app-comments-display [comments]="question.comments">
            </app-comments-display>
        </div>
    </div>
</div>
