<div class="container" *ngIf="question != null">
    <div class="row">
        <h3>{{question.title}}</h3>
    </div>
    <div class="row">
        <div class="col-3">
            <div>{{question.answers.length}} Answers</div>
            <div>{{question.comments.length}} Comments</div>
            <div>
                <button type="button" class="btn btn-link" (click)="onFinished()">
                    Go Back
                </button>
            </div>
        </div>
        <div class="col-9">
            {{question.body}}
            <hr/>
            <div>
                <button class="btn btn-link"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#commentsOnQuestion"
                        aria-expanded="false"
                        aria-controls="commentsOnQuestion">
                    Toggle Comments
                </button>
            </div>
            <hr/>
            <div class="collapse" id="commentsOnQuestion">
                <div *ngFor="let comment of question.comments">
                    <div class="fw-lighter ps-3">{{comment.body}}</div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
