<div *ngIf="question!= null">
    <div *ngIf="question.answers.length == 0">
        <h3>No answers at present</h3>
    </div>
    <div *ngIf="question.answers.length > 0">
        <h4>{{question.answers.length}} Answers</h4>
        <div *ngFor="let answer of question.answers">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div>{{answer.upVoteCount}} Up</div>
                        <div>{{answer.downVoteCount}} Down</div>
                    </div>
                    <div class="col-9">
                        {{answer.body}}
                        <app-comments-display [comments]="answer.comments">
                        </app-comments-display>
                    </div>
                </div>
                <div class="row">
                <span class="text-end">
                    Answered by {{answer.owner.userId}} on {{answer.owner.creationDate | date:'shortDate'}}
                </span>
                </div>
                <div class="row">
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>


